.component-container-outer{
    padding:1rem;
    display:flex;
    flex-direction: column;
}

.component-container-inner{
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:1rem;
    margin:1rem;
    border-radius: 0.3rem;
}

.component-code{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top:1rem;
    color:var(--secondary-text-color);
    background-color:#1E1E1E;
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left:1rem;
    border:1px solid var(--primary-text-color);
    border-radius: 0.35rem;
    align-self: center;
    margin-left:auto;
    margin-right:auto;
}

pre{
    margin:0rem;
}
