/* Component */
.component-container-outer {
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  padding: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.component-container-inner {
  background-color: var(--light);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.component-code {
  padding: 1rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 0.35rem;
  color: var(--secondary-text-color);
  background-color: #1e1e1e;
  margin: 0.5rem 0;
}

pre {
  margin: 0rem;
}

.component-header {
  padding-left: 2rem;
  font-weight: 300;
}

.component-heading {
  font-weight: 300;
}

.component-style-link {
  margin: 2rem;
  color: var(--secondary-text-color);
  background-color: #1e1e1e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 0.35rem;
}

@media only screen and (max-width: 600px) {
  .component-container-outer {
    width: 100%;
    padding: 2rem 0 0 0;
  }
}
