.modal{
    display:flex;
    flex-direction: column;
    padding:0.8rem;
    max-width:25rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius:0.2rem;
}

.modal-button{
    color:var(--dark);
    background-color: var(--primary-text-color);
    border:none;
    padding:0.5rem;
}

.modal-button:hover{
    outline:none;
    background-color:#d0dce0;
}