.nav-container{
	display:fixed;
	top:0;
	width:100%;
	background-color: var(--secondary-bg-color);
	color: var(--primary-text-color);
	overflow:hidden;
}

.nav{
	display:flex;
	justify-items:flex-start;
}

.nav-brand{
	font-size: 1.7rem;
	padding-right:1.6rem;
	padding-left:2.45rem;
	align-self:center;
	font-family: 'Roboto', sans-serif;
	color:var(--primary-color);
	letter-spacing: 5px;;
	font-weight:700;

}

.nav-item-inline{
	display:inline;
	padding-right:0.5rem;
}

.nav-link{
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	color:var(--primary-text-color);
	text-decoration: none;
}

.nav-link:hover{
	background-color: var(--tertiary-bg-color);
	border-radius: 0.3rem;
}

.nav-link.active{
	background-color: var(--tertiary-bg-color);
	border-radius: 0.3rem;	
}