.nav-container{
	grid-area: nav-container;
	background-color: var(--secondary-bg-color);
	color: white;
}

.nav{
	display:flex;
	justify-items:flex-start;
}

.nav-brand{
	font-size: large;
	padding-right:0.5rem;
	padding-left:1rem;
	align-self:center;
	font-family: 'Roboto', sans-serif;
	color:var(--secondary-color);
	letter-spacing: 5px;;
	font-weight:700;
}

.nav-item-inline{
	display:inline;
	padding-right:0.5rem;
}

.nav-link{
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	color:var(--primary-text-color);
	text-decoration: none;
}

.nav-link:hover{
	background-color: var(--tertiary-bg-color);
	border-radius: 0.3rem;
}

.nav-link.active{
	background-color: var(--tertiary-bg-color);
	border-radius: 0.3rem;	
}

.footer{
	grid-area: footer;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-bg-color);
	color:var(--primary-text-color);
	border-top:2px solid var(--secondary-bg-color);
}

.social-links{
	list-style: none;
	padding:0.2rem;
}

.list-item-inline{
	display:inline;
	padding:0.25rem;
}

.link{
	text-decoration: none;
	color:var(--primary-text-color);
	border-radius: 0.25rem;
}

.link:hover{
	background-color:var(--secondary-bg-color);

}

.layout{
	display:grid;
	grid-template-areas: "nav-container nav-container nav-container"
						 "container container container"
						 "container container container"
						 "container container container"
						 "footer footer footer";
}